body{
    background-color: #aaaacd;
    text-align: right;
    font-family: Arial, sans-serif;
 flex-wrap: wrap;
}
.question{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #34495e;
    border:1px solid black;
    padding: 20px;

}
h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #2c3e50; /* لون أغمق ليكون أوضح */
}


p { padding: 2px; 
    font-size: 22px;
    margin-left: 20px;
}

input[type="radio"] {
    margin-right: 8px;
    font-size: 16px;
    margin-left: 20px;
    transform: scale(1.3);

}
label input{
   
    align-items: center;
    font-size: 16px;
    gap: 10;
}
